.button {
  border: none;
  border-radius: 15px;
  color: #FFF;
  height: 30px;
  width: 80px;
}

.primary-button {
  background-color: #00782E;
}

.primary-button:hover {
  background: #008533;
  color: #fff;
}

.secondary-button {
  background-color: #000;
  color: #fff;
}

.secondary-button:hover {
  background-color: #505050;
  color: #fff;
}

.remove-button {
  background-color: #b30000;
}

.remove-button:hover {
  background-color: #ff1a1a;
  color: #fff;
}

.button-as-link {
  background-color: inherit;
  border: none;
  color: #000;
  padding: 0;
  text-decoration: underline;
}

.button-right-aligned {
  text-align: right;
}
