.completed-tasks-container {
  margin-top: 30px;
}

.completed-tasks-container ul {
  list-style-type: kannada;
}

.accordion__item .accordion__title {
  background-color: #C0C0C0;
  width: inherit;
}

.actions-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
