.front-door {
  margin-top: 50px;
  text-align: center;
}

.username-input {
  height: 24px;
  margin-right: 10px;
  padding-left: 10px;
}

.frontdoor-header-subtext {
    margin-top: 15px;
}

@media (max-width: 539px) {
  .front-door__input-container {
    margin-top: 50px;
  }
}
